@import "mixin";
@import "var";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


//superpower 1operator 2variable  3 nesting  4mixin  5parameter    6partials 

.header{
    @include displexProperty;
    width: 100%;
    background-color: $header ;

    h1{
        color: red;
        @include textproperty(5rem - 1rem);
        &:hover{
            color:purple
        }
    }
    
   
    p{
        color:green;
       @include textproperty(4rem - 2.5rem);

        &:hover{
            color:purple
        }
        &::after{
       content:"   maza aa gya "
        }
    }
   
}